.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3; /* number of lines to show */
}
#loading  {
  display: none;
}
#loading.block {
  display: block;
}